.container {
	color: var(--font-color);
	background-color: var(--dark-blue);
	padding: 16px;
	display: flex;
	justify-content: space-between;
}

.logo {
	display: flex;
	gap: 16px;
}

.logo-title {
	font-size: var(--normal-title);
}

.logo-span {
	color: var(--yellow);
	font-weight: bolder;
}

.user {
	display: flex;
	gap: 8px;
	align-items: center;
}

.user-letter {
	background-color: var(--dark-gray);
	font-size: var(--small-title);
	padding: 8px 12px;
	border-radius: 50%;
}
